@use '../../assets/fonts/Inter/web/fonts.scss';


.card {
  width: 938px;
  height: 457px;
  background: rgb(255, 255, 255, .8);
  margin: auto;
  margin-top: 50px;
  border-radius: 15px ;
  box-shadow: 4px 4px 8px gray;
  font-family: 'Inter';
  
  &__title {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5px ;

    &_text{
      padding: 5px 10px 5px 17px;
      // position: absolute;
      color: blue;
      font-size: 20px;

    }
  }
}

.likes {
  width: 45px;

}
.title__likes {
  color: red;
  // height: 45px;
  // left: 75px;
  // position: absolute;
  &_active {
     color:aqua

  }
  &_notActive {
    color: lightgray;
    width: 25px;
  }
}

.ul {
  list-style: none;
  display: flex;
  
  .li {
    border: 1px solid black;
        border-radius: 2px;
        padding: 0  8px;
        line-height: 18px;

        
        &:hover {
          border-color: gray;
          color: gray;
        }
        &:not(:first-child) {
          margin-left: 15px;
        }
  }


}